@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
*{
  font-family: 'Roboto Mono', monospace;
  margin: 0%;
}

.nav-bar{
  text-align: center ;
  background-image: url(https://images.unsplash.com/photo-1528459801416-a9e53bbf4e17?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8YmFja2dyb3VuZCUyMGltYWdlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100%;
  padding: 1em;
}
.nav-bar h1{
  font-weight: bolder;
}