@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
  font-family: 'Open Sans', sans-serif;
}

.container{
  margin-left: 26%;
  text-align: center;
  /* margin-top: 20%; */
  width: 500px;
  padding: 1em 3em 1em 3em ;
  border-radius: 20px;
  background-image: linear-gradient(to right top, #ffbe0b, #ffac00, #ff9a00, #ff8700, #fe7300, #ff6414, #ff5521, #ff432c, #ff343e, #ff244e, #ff135e, #ff006e);
}

h1{
  font-size: 1em;
  color: #ffffff;
}

